In [5]:
import pandas as pd
import numpy as np
import matplotlib

In [4]:
# Read in the first CSV file and keep only the column titles
df = pd.read_csv('RRD_US_2023.csv', nrows=0)

# Loop through the remaining CSV files and stack them on top of the first one
for year in range(2022, 2018, -1):
    filename = f'RRD_US_{year}.csv'
    temp_df = pd.read_csv(filename, header=0)
    df = pd.concat([df, temp_df], axis=0, ignore_index=True)

# Write the combined CSV file to disk
df.to_csv('RRD_US_combined.csv', index=False)

In [7]:
df.sample(10)

,IYR,IMO,RAILROAD,INCDTNO,IYR2,IMO2,RR2,INCDTNO2,IYR3,IMO3,...,RCL,Latitude,Longitud,SIGNAL,MOPERA,ADJUNCT1,ADJUNCT2,ADJUNCT3,SUBDIV,Unnamed: 145
9385,19,1,BNSF,HL0119125,NaN,NaN,NaN,NaN,19.0,1.0,...,0.0,39.134924,-94.586462,2.0,5.0,K,NaN,NaN,ST JOSEPH,NaN
808,22,8,NS,146174,NaN,NaN,NaN,NaN,22.0,8.0,...,0.0,41.691317,-86.372173,1.0,1.0,J,NaN,NaN,CHICAGO LINE-ELKHART,NaN
431,22,12,BNSF,CA1222109,NaN,NaN,NaN,NaN,22.0,12.0,...,0.0,32.878269,-117.166142,2.0,5.0,K,NaN,NaN,SAN DIEGO,NaN
9016,19,7,BNSF,CA0719114,NaN,NaN,NaN,NaN,19.0,7.0,...,0.0,34.896143,-117.067679,2.0,5.0,K,NaN,NaN,CAJON,NaN
3737,21,7,CSX,198903,21.0,7.0,ATK,167720,21.0,7.0,...,NaN,29.745547,-81.642086,1.0,1.0,NaN,NaN,NaN,SANFORD,NaN
7299,19,2,UP,0219GP010,NaN,NaN,NaN,NaN,19.0,2.0,...,0.0,41.452512,-96.636535,1.0,1.0,Q,NaN,NaN,COLUMBUS SUB,NaN
7202,19,1,MBTA,19011,NaN,NaN,NaN,NaN,19.0,1.0,...,0.0,42.373587,-71.075377,2.0,5.0,NaN,NaN,NaN,YARD,NaN
7887,19,6,NOGC,OP06022019,NaN,NaN,NaN,NaN,19.0,6.0,...,0.0,29.837911,-89.998166,2.0,3.0,NaN,NaN,NaN,BELLE CHASSE,NaN
7061,20,12,CSX,194728,NaN,NaN,NaN,NaN,20.0,12.0,...,0,34.188497,-82.165093,2.0,5.0,K,NaN,NaN,MONROE,NaN
7526,19,8,NS,135158,NaN,NaN,NaN,NaN,19.0,8.0,...,0.0,41.677360,-85.978495,2.0,5.0,K,NaN,NaN,CHICAGO LINE,NaN

In [12]:
# Drop the columns with more than 50% nulls
# Calculate the percentage of null values in each column
null_percentages = df.isnull().sum() / len(df) * 100

# Get the column names where the null percentage is greater than 50%
columns_to_drop = null_percentages[null_percentages > 50].index

# Drop the columns from the dataframe
df.drop(columns_to_drop, axis=1, inplace=True)

# Write the updated dataframe to a new CSV file
df.to_csv('RRD_US_combined_cleaned.csv', index=False)

In [13]:
# Convert the column names to lowercase
df.columns = df.columns.str.lower()

In [14]:
df.shape

(9922, 111)

In [15]:
df.sample(10)

,iyr,imo,railroad,incdtno,iyr3,imo3,rr3,incdtno3,year,month,...,narr1,narr2,narr3,rcl,latitude,longitud,signal,mopera,adjunct1,subdiv
2322,22,5,UP,0522SX033,22.0,5.0,UP,0522SX033,22,5,...,TRAIN MSAFW-31 WAS MAKING A PICK UP IN TAYLOR ...,"HIGHER THAN PRESCRIBED, CAUSING A ONE-WHEEL DE...",NaN,0.0,30.566067,-97.431762,1.0,1.0,D,AUSTIN SUB
7565,19,4,NS,133643,19.0,4.0,NS,133643,19,4,...,GM42 PULLING NORTH ON EAST PULLBACK WITH 41 CA...,TO A BYPASS COUPLING OF TILX 290206 AND ADMX 6...,"STRIKING EQUIPMENT IN FT03, FT04, ANF FT05. TH...",0.0,32.813658,-83.622785,2.0,5.0,K,BRUNSWICK
6957,20,2,KCS,20021402,20.0,2.0,KCS,20021402,20,2,...,CREW PULLED OUT OF YARD ON EAST MAIN (YARD RES...,WAS LINED FOR MOVEMENT. TRAIN RAN THRU CROSSO...,OF 2 CARS. MP 338.10 HEAVENER SUB,0,34.888449,-94.602991,2.0,3.0,Z,HEAVENER
2640,21,2,UP,0221GP005,21.0,2.0,UP,0221GP005,21,2,...,"CAR CMO10361 WHEELS WERE CONTAMINATED, WHICH C...","CONSEQUENTLY, THE CAR CAUGHT UP AND COLLIDED W...",NaN,0,41.146542,-100.834532,2.0,5.0,NaN,NORTH PLATTE TERMINA
3144,21,11,CSX,201531,21.0,11.0,CSX,201531,21,11,...,Y19627 PULLING OUT OF 015 TRACK WAS SIDE SWIPE...,AGE AND 1 CAR TO DERAIL. INVESTIGATION REVEAL...,NaN,0,39.759791,-86.327526,2.0,5.0,NaN,INDIANAPOLIS TERMINA
2341,22,7,UP,0722TO008,22.0,7.0,UP,0722TO008,22,7,...,"THE YFW10R-05, HAD TWO CARS DERAIL ON THE 17-2...",HEAD 5 CARS TRAVERSED OVER THE SWITCH AND THE ...,RSING TOWARD 19 TRACK. IT WAS FOUND THERE WAS ...,1.0,32.721540,-97.381465,2.0,5.0,L,DALLAS SUB
9607,19,8,CSX,185069,19.0,8.0,CSX,185069,19,8,...,AFTER EMPLOYEES LEFT CARS IN THE FOUL IN B30 T...,TRIKING THE CARS LEFT IN THE FOUL.,NaN,1.0,39.124551,-84.542521,2.0,5.0,NaN,CINCINNATI TERMINAL
5921,20,7,KCS,20073104,20.0,7.0,KCS,20073104,20,7,...,CREW PULLING OFF INTERNATIONAL BRIDGE (WITH YA...,DO SUBDIVISION,NaN,0,27.509486,-99.515539,2.0,3.0,Z,LAREDO
9059,19,2,BNSF,PR0219104,19.0,2.0,BNSF,PR0219104,19,2,...,C-BTMSLP0-25 IMPACTED THE C-NAMJOJ0-11 WHILE T...,ITH RESTRICTED SPEED IN CONNECTION WITH A REST...,OTAL OF 3 LOCOMOTIVES AND 5 RAILCARS DERAILED....,0.0,42.347817,-104.899184,1.0,1.0,Q,CANYON
1531,22,2,NJTR,202202096,22.0,2.0,ATK,169780,22,2,...,TRAIN #3248 LOCATED NEAR THE WEST END OF LINE ...,Y AND THEN RIPPED OFF ENGINE #4600 AS A RESULT...,NaN,0.0,40.750600,-73.993500,1.0,1.0,G,NEWARK

In [16]:
# Select the desired columns
columns_to_keep = ['railroad', 'incdtno', 'year', 'month', 'day', 'timehr', 'timemin', 'ampm', 'type', 'carshzd', 'station', 'state', 'temp', 'visiblty', 'weather', 'trnspd', 'typspd', 'tons', 'trkclas', 'typtrk', 'loadf1', 'emptyf1', 'cause', 'acctrk', 'acctrkcl', 'highspd', 'accdmg', 'stcnty', 'totinj', 'totkld', 'enghr', 'cdtrhr', 'jointcd', 'region', 'year4', 'county', 'cntycd', 'narr1', 'narr2', 'narr3', 'latitude', 'longitud']
df = df[columns_to_keep]

In [17]:
df.head()

,railroad,incdtno,year,month,day,timehr,timemin,ampm,type,carshzd,...,jointcd,region,year4,county,cntycd,narr1,narr2,narr3,latitude,longitud
0,UTAH,UTA022722D,22,3,6,10,0,AM,1,0,...,1,7,2022,UTAH,49,A TRAIN CREW WAS PULLING A CUT OF CARS OUT OF ...,IN THE ADJACENT TRACK. THE ENGINEER WAS LOOKIN...,AILED TO NOTICE THE SWITCH ON THE RIGHT WAS LI...,40.222489,-111.650240
1,UP,0822MA007,22,8,4,2,10,AM,12,0,...,1,5,2022,CRAWFORD,33,THE CREW OF TRAIN MNLNP-03 FAILED TO PROTECT A...,HE NORTH END OF YARD TRACK 2. THIS UNPROTECTED...,WAS PREVIOUSLY SET OUT IN THAT TRACK AT THE SO...,35.430071,-94.344022
2,UP,0822MA007,22,8,4,2,10,AM,12,0,...,3,5,2022,CRAWFORD,33,THE CREW OF TRAIN MNLNP-03 FAILED TO PROTECT A...,HE NORTH END OF YARD TRACK 2. THIS UNPROTECTED...,WAS PREVIOUSLY SET OUT IN THAT TRACK AT THE SO...,35.430071,-94.344022
3,UP,0922NC005,22,9,5,11,12,PM,1,0,...,1,7,2022,PLACER,61,"MRVNP-05 WAS TRAVELING EAST ON MAIN TRACK 2, W...",CK 8 WITH NO AIR SET AND NO THROTTLE ADJUSTMEN...,"ECTION, CONDUCTOR FOUND DRAWBAR BETWEEN 12TH A...",39.198577,-120.772514
4,UP,0922NC008,22,9,8,10,30,AM,1,0,...,1,7,2022,TULARE,107,"SJVR CREW ON THE LGJGJJ-08, REPORTED THAT THEY...",THE GOSHEN SIDING. 3 CARS DERAILED DURING A SE...,"NJURIES REPORTED. DURING THE INVESTIGATION, IT...",36.350985,-119.420851